${require('./includes.html')}
<section class="bg-img-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="footer-image">
          <img src="../img/Big-Sky-Logo-400px.png" alt="Logo" class="logodark">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4 text-center">
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/BigSkyInternetDesign" target="_blank">
              <i class="fa fa-facebook fa-fw fa-lg facebook"></i><span class="facebook"> Add Us On Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <span id="siteseal">
            <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=34336393302cdd14381271132db4a6b717f49091083142691827799">
            </script>
          </span>
      </div>
      <div class="col-sm-4 text-center">
        <div class="footer-image">
          <!-- (c) 2005, 2014. Authorize.Net is a registered trademark of CyberSource Corporation -->
          <!-- <div class="AuthorizeNetSeal "> -->
          <script type="text/javascript" language="javascript">
            var ANS_customer_id = "aedec058-c407-445b-af1d-8b2de58e2b9b";
          </script>
          <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js"></script>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
          <p>
            <script language="javascript">
              document.write(copywriteDate(1998));
            </script> Exceleration Designs, Inc. dba. Big Sky Internet Design. All rights reserved.<br>All images on this
            site and any site associated with this site hold a copyright and can not be removed without permission.
          </p>
        </div>
      </div>
    </div>



  </div>
</section>
